<div class="container">
    <div class="section-heading">
        <h6>Recomendações</h6>
        <h2>O que falam sobre mim</h2>
    </div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="testimonials-box mb-3">
                <div class="row gy-4">
                    <div class="col-sm-7 col-lg-8">
                        <div class="t-text">
                            <p>“ File storage made easy – including powerful features you won’t find anywhere else. Whether you’re.”</p>
                            <div class="t-lead">
                                <h6>- Ema Watson</h6>
                                <span>Chief Executive Officer, Brazil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-4">
                        <div class="t-avatar">
                            <img src="assets/img/avatar-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="testimonials-box mb-3">
                <div class="row gy-4">
                    <div class="col-sm-7 col-lg-8">
                        <div class="t-text">
                            <p>“ File storage made easy – including powerful features you won’t find anywhere else. Whether you’re.”</p>
                            <div class="t-lead">
                                <h6>- Ema Watson</h6>
                                <span>Chief Executive Officer, Brazil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-4">
                        <div class="t-avatar">
                            <img src="assets/img/avatar-2.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="testimonials-box mb-3">
                <div class="row gy-4">
                    <div class="col-sm-7 col-lg-8">
                        <div class="t-text">
                            <p>“ File storage made easy – including powerful features you won’t find anywhere else. Whether you’re.”</p>
                            <div class="t-lead">
                                <h6>- Ema Watson</h6>
                                <span>Chief Executive Officer, Brazil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-4">
                        <div class="t-avatar">
                            <img src="assets/img/avatar-1.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="testimonials-box mb-3">
                <div class="row gy-4">
                    <div class="col-sm-7 col-lg-8">
                        <div class="t-text">
                            <p>“ File storage made easy – including powerful features you won’t find anywhere else. Whether you’re.”</p>
                            <div class="t-lead">
                                <h6>- Ema Watson</h6>
                                <span>Chief Executive Officer, Brazil</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-lg-4">
                        <div class="t-avatar">
                            <img src="assets/img/avatar-2.jpg" title="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
      </owl-carousel-o>
    <div class="testimonials-brand">
        <owl-carousel-o [options]="customOptions2">
            <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide>
                        <div class="brand-box">
                            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                        </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>
