<div class="container">
    <div class="section-heading">
        <h6>Our Blogs</h6>
        <h2>Our Latest Update</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_1">
                        <img src="assets/img/blog-1.jpg" title="" alt="">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6>10 July, 2022</h6>
                    <h2><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_1">12 unique example of portfolio websites</a></h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_2">
                        <img src="assets/img/blog-2.jpg" title="" alt="">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6>10 July, 2022</h6>
                    <h2><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_2">12 unique example of portfolio websites</a></h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_3">
                        <img src="assets/img/blog-3.jpg" title="" alt="">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6>10 July, 2022</h6>
                    <h2><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_3">12 unique example of portfolio websites</a></h2>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="blog-post">
                <div class="blog-post-img">
                    <a class="px_modal" data-bs-toggle="modal" 
                    data-bs-target="#blog_4">
                        <img src="assets/img/blog-4.jpg" title="" alt="">
                    </a>
                </div>
                <div class="blog-post-info">
                    <h6>10 July, 2022</h6>
                    <h2><a class="px_modal" data-bs-toggle="modal" 
                        data-bs-target="#blog_4">12 unique example of portfolio websites</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>