<div class="container">
    <div class="section-heading text-center text-lg-start">
        <h6>Que bom que está aqui!</h6>
        <h2>Seja bem vindo ao...</h2>
    </div>
    <div class="row gy-4">
        <div class="col-lg-5">
            <div class="about-left">
                <div class="about-avatar">
                    <img src="assets/img/about-banner.png" title="" alt="">
                </div>
                <h3>Enzo Fonseca</h3>
                <p>Desenvolvedor</p>
                <div class="btn-bar">
                    <a class="px-btn" href="javascript:">
                        Download CV <i class="bi-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="about-bio">
                <p>Born in 2000, AB type living in USA. We provide on-screen design for websites and apps, as well as front-end implementation. We will continue to pursue a wide range of expressions and better code by pursuing our “likes”.</p>
            </div>
            <div class="about-contact row gx-lg-5">
                <div class="col-sm-6">
                    <p><i class="bi-phone"></i> <span>+55 (11) 93489-1478</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-person"></i> <span>Enzo Fonseca de Souza</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-envelope"></i> <span>enzofonseca44@gmail.com</span> </p>
                </div>
                <div class="col-sm-6">
                    <p><i class="bi-map"></i> <span>São Paulo, Brasil</span> </p>
                </div>
            </div>
            <div class="about-exp">
                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>4</h6>
                            <span>Anos de<br>experiência</span>
                        </div>
                        <p class="lead">Olá! Meu nome é <span>Lilon Macwan</span>. Eu sou desenvolvedor, e sou apaixonado pelo que faço.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="a-number">
                            <h6>4+</h6>
                            <span>Empresas</span>
                        </div>
                        <p class="lead">With 10+ years experience as a professional designer, I have acquired the skills to make your project a success.</p>
                    </div>
                </div>
                <blockquote>
                    <i class="fa-solid fa-quote-left"></i>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus sed sit ultrices et sed metus sollicitudin.”</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
