<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6>Experiências</h6>
                <h2>Minhas experiências</h2>
                <p>Hello there! My name is Lilon Macwan. I am a web designer & developer, and I'm very passionate and dedicated to my work.</p>
                <div class="btn-bar">
                    <a class="px-btn dark" href="javascript:">
                        Download my resume <i class="bi-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <ul class="resume-box">
                <li>
                    <div class="r-meta">
                        <span>-2020 - Present</span>
                        <label>-UI/UX Lead</label>
                    </div>
                    <h5>Lead UI/UX Designer</h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span>-2017 - 2018</span>
                        <label>-UI/UX Designer</label>
                    </div>
                    <h5>Senior UI/UX Designer</h5>
                </li>
                <li>
                    <div class="r-meta">
                        <span>-2015 - 2017</span>
                        <label>-Jr. UI/UX Designer</label>
                    </div>
                    <h5>Web Design and Developer</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
