<div class="container">
    <div class="row gy-5">
        <div class="col-lg-5">
            <div class="section-heading">
                <h5>Contato</h5>
                <h2>Fale comigo</h2>
            </div>
            <div class="contact-info">
                <ul>
                    <li>
                        <div class="icon">
                            <i class="bi-chat-left-dots-fill"></i>
                        </div>
                        <div class="text">
                            <label>Converse comigo</label>
                            <p><span><a class="text-reset" href="mailto:enzofonseca44@gmail.com">enzofonseca44@gmail.com</a></span></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-compass"></i>
                        </div>
                        <div class="text">
                            <label>Chegue até mim</label>
                            <p> <span>Brasil, São Paulo<br> Bragança Paulista, Rua Luiz Izzo</span></p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                            <i class="bi-phone"></i>
                        </div>
                        <div class="text">
                            <label>Me ligue</label>
                            <p><span>+55 (11) 93489-1478</span></p>
                        </div>
                    </li>
                </ul>
                <div class="google-map">
                    <div class="ratio ratio-21x9">
                        <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Rua%20Luiz%20Izzo+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 ps-xl-5">
            <div class="contact-form bg-g">
                <div class="contact-head">
                    <h4>Tem ideias? Eu tenho as habilidades. Vamos nos falar.</h4>
                    <p>Conte sobre você e o que tem em mente.</p>
                </div>
                <form id="contact-form" method="POST">
                    <div class="row gx-3 gy-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Primeiro Nome</label>
                                <input name="Name" id="name" placeholder="Seu nome *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-label">Seu Email</label>
                                <input name="Email" id="email" placeholder="Seu email *" class="form-control" type="email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label class="form-label">Assunto</label>
                                <input name="Subject" id="subject" placeholder="Do que se trata? *" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="form-label">Sua ideia</label>
                                <textarea name="message" id="message" placeholder="Conte um pouco sobre sua ideia *" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="send">
                                <button class="px-btn dark w-100" type="button" value="Send">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
