<div class="container">
  <div class="row  min-vh-100 align-items-center">
    <div class="col-lg-7 col-xl-7 col-xxl-6">
      <div class="hb-text">
        <h1>Meu nome <br>é <b>Enzo</b> <span><br> Fonseca...</span></h1>
        <p class="lead"><span>Desenvolvedor </span>Full Stack</p>
        <div class="btn-bar">
          <a class="px-btn" href="#contact"> Trabalhe comigo <i class="bi-arrow-up-right"></i>
          </a>
        </div>
        <div class="info-bar">
          <p><i class="bi-phone"></i> <span>+55 (11) 93489-1478</span></p>
          <p><i class="bi-envelope"></i> <span>enzofonseca44@gmail.com</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hb-me" style="background-image: url(assets/img/home-banner.png);"></div>
<div class="social-fix">
  <div class="social-links">
    <a href="https://github.com/tuulinart"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/enzof0nseca/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/enzofonseca/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
